
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JWT Token</title>
    <!--用百度的静态资源库的cdn安装bootstrap环境-->
    <!-- Bootstrap 核心 CSS 文件 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome 核心我CSS 文件-->
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 在bootstrap.min.js 之前引入 -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--jquery.validate-->
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <!--<script type="text/javascript" src="~/Scripts/common.js"></script>-->
    <script type="text/javascript" src="~/JS/Login.js"></script>
    <style type="text/css">
        body {
            background-size: <span style="font-family: 微软雅黑; rgb(239, 239, 239);">cover</span>;
            font-size: 16px;
        }

        .form {
            background: rgba(255,255,255,0.2);
            width: 400px;
            margin: 100px auto;
        }

        #login_form {
            display: block;
        }

        #register_form {
            display: none;
        }

        .fa {
            display: inline-block;
            top: 27px;
            left: 6px;
            position: relative;
            color: #ccc;
        }

        input[type="text"], input[type="password"] {
            padding-left: 26px;
        }

        .checkbox {
            padding-left: 21px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form row">
            <form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
                <h3 class="form-title">Login</h3>
                <div class="col-sm-9 col-md-9">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input id="username" class="form-control required" type="text" placeholder="Username" name="username" autofocus="autofocus" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input id="password" class="form-control required" type="password" placeholder="Password" name="password" maxlength="8" />
                    </div>
                    
                    <div class="form-group">
                        <input type="button" id="btnLogin" class="btn btn-success pull-right" value="Login" />
                    </div>
                </div>
            </form>
        </div>

        
    </div>
</body>
</html>
